In [8]:
import pandas as pd
import numpy as np
import math 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [9]:
SQB= pd.read_excel("Steel-express.xlsx","SQUARE BOXES")

In [10]:
SQB.head()

,Date,Weeks,type,purchases(kg),sales(kg),stock,price for sales(EGP),price for purchases(EGP),Total Sales(EGP),Total Purchases(EGP),Average price,Average price for sales
0,2023-01-01,1,SQUARE BOXES,18483,0,12720.0,0.0,40.5,0.0,748561.5,40.500000,46.50
1,2023-01-16,3,SQUARE BOXES,15044,0,22975.0,0.0,40.3,0.0,606273.2,40.410257,44.30
2,2023-01-16,3,SQUARE BOXES,5150,0,27185.0,0.0,42.8,0.0,220420.0,40.728461,44.20
3,2023-01-16,3,SQUARE BOXES,0,20957,12720.0,44.7,0.0,936777.9,0.0,40.410257,44.70
4,2023-01-17,3,SQUARE BOXES,770,0,13421.6,0.0,42.5,0.0,32725.0,40.763042,44.45

In [11]:
SQB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      95 non-null     datetime64[ns]
 1   Weeks                     95 non-null     int64
 2   type                      95 non-null     object
 3   purchases(kg)             95 non-null     int64
 4   sales(kg)                 95 non-null     int64
 5   stock                     95 non-null     float64
 6   price for sales(EGP)      95 non-null     float64
 7   price for purchases(EGP)  95 non-null     float64
 8   Total Sales(EGP)          95 non-null     float64
 9   Total Purchases(EGP)      95 non-null     float64
 10  Average price             95 non-null     float64
 11  Average price for sales   95 non-null     float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(1)
memory usage: 9.0+ KB

In [12]:
#Avarage_price for purchase and sales

SQB_AVG_PRICE = SQB['Average price'].mean()
SQB_AVG_PRICE

41.371621372307104

In [13]:
SQB_AVG_Price_sales =  SQB[SQB['Average price for sales'] > 0]['Average price for sales'].mean()
SQB_AVG_Price_sales

45.16205717819982

In [14]:
## avg oreder qunt
SQB_AVG_QUN_ORDER =  SQB[SQB['purchases(kg)'] > 0]['purchases(kg)'].mean()
SQB_AVG_QUN_ORDER

22221.58620689655

In [15]:
## AVG Order cost 
AVG_Order_cost= SQB_AVG_PRICE * SQB_AVG_QUN_ORDER
AVG_Order_cost

919343.0508438061

# Making Pivot Tables

In [16]:
SQB_PV=SQB.pivot_table(index="Weeks",aggfunc="sum",values=["purchases(kg)","sales(kg)"])

In [17]:
length = len(SQB_PV)
length

31

## Calculating Stock

In [18]:
SQB_PV['Stock'] = 0
SQB_PV.iloc[0,2] = SQB_PV.iloc[0,0] - SQB_PV.iloc[0,1]

In [19]:
SQB_PV.iloc[1:,2] =  (SQB_PV.iloc[1:,0] - SQB_PV.iloc[1:,1])
SQB_PV['Stock'] = SQB_PV['Stock'].cumsum()

## Calculating-Holding-cost

In [20]:
SQB_PV['Holding'] = 0

SQB_PV.iloc[0,3]=SQB_PV.iloc[0,0] * 0.3

for i in range(length-1):
    SQB_PV.iloc[i+1,3] = (SQB_PV.iloc[i,2] + SQB_PV.iloc[i+1,0]) *  0.3

In [21]:
SQB_PV

       purchases(kg)  sales(kg)   Stock  Holding
Weeks
1              18483          0   18483   5544.9
3              26334      37375    7442  13445.1
5              28242      14381   21303  10705.2
6             305530      64725  262108  98049.9
7                  0      31872  230236  78632.4
8                  0      37551  192685  69070.8
9                  0      13832  178853  57805.5
10                 0        261  178592  53655.9
11             86924      84284  181232  79654.8
13                 0      13562  167670  54369.6
16                 0      63703  103967  50301.0
17             64863          0  168830  50649.0
18              6398      19287  155941  52568.4
20                 0      28978  126963  46782.3
21                 0       1491  125472  38088.9
22                 0       4182  121290  37641.6
23              1488       1521  121257  36833.4
24                 0      12340  108917  36377.1
25                 0       3169  105748  32675.1
26                 0       5097  100651  31724.4
32                 0       6855   93796  30195.3
34                 0        738   93058  28138.8
35             10646      21038   82666  31111.2
37                 0      28096   54570  24799.8
38             31264      25264   60570  25750.2
39             26222      23129   63663  26037.6
40                 0       2742   60921  19098.9
41             26354      39735   47540  26182.5
42                 0       3522   44018  14262.0
45                 0      22814   21204  13205.4
46             11678      13056   19826   9864.6

## Calculating order cost

In [36]:
Order_cost_percnt = 0.07

In [37]:
SQB_PV['Order_Cost(EGP)'] = 0
SQB_PV.iloc[0:,4] =  round((SQB_PV.iloc[0:,0]*SQB_AVG_PRICE*Order_cost_percnt))

## Calculating Avarege Quantity / Oerder

In [38]:
SQB_AVG_QUN_ORDER =  SQB[SQB['purchases(kg)'] > 0]['purchases(kg)'].mean()
SQB_AVG_QUN_ORDER

22221.58620689655

## EOQ - MODEL

In [39]:
## FIXED COST FOR PALCING AN ORDER

Fixed_Cost = SQB_AVG_QUN_ORDER*SQB_AVG_PRICE*Order_cost_percnt
Fixed_Cost

64354.013559066436

In [40]:
## sum of annual sales
Sum_sales = SQB_PV['sales(kg)'].sum()
Sum_sales

624600

In [41]:
## carring cost 
Carry_cost  = 0.3

In [42]:
## average price per kg
Price = SQB_AVG_PRICE 
Price

41.371621372307104

In [43]:
SQB_EOQ = math.sqrt((2*Fixed_Cost*Sum_sales)/(Carry_cost*Price))
SQB_EOQ

80480.7302873564

## Reorder-point

In [44]:
Lead_time = 3

Weakly_average_usage = Sum_sales / length

In [45]:
Re_order_point = Lead_time * Weakly_average_usage
Re_order_point

60445.161290322576

## New stock

In [46]:
SQB_new_pur = np.zeros(length)
SQB_new_stock = np.zeros(length)
LD = 0
SQB_new_pur[0] = SQB_EOQ
SQB_new_stock[0] = SQB_new_pur[0] - SQB_PV.iloc[0,1]

In [47]:
for i in range(length-1):
    if(SQB_new_stock[i]  <= Re_order_point):
            if(SQB_new_stock[i] > 0):
                SQB_new_stock[i+1] = SQB_new_stock[i] + (SQB_new_pur[i+1] - SQB_PV.iloc[i+1,1])
                LD = LD - 1
            else:
                SQB_new_stock[i+1] = 0 + (SQB_new_pur[i+1] - SQB_PV.iloc[i+1,1])
                LD = LD - 1
            if(LD<=0 and i < length-4):
                SQB_new_pur[i+3] = SQB_EOQ
                LD=3
    else: 
        if(SQB_new_stock[i] > 0):
                SQB_new_stock[i+1] = SQB_new_stock[i] + (SQB_new_pur[i+1] - SQB_PV.iloc[i+1,1])
                LD = LD - 1
        else:
            SQB_new_stock[i+1] = 0 + (SQB_new_pur[i+1] - SQB_PV_copy.iloc[i+1,1])
            LD = LD - 1

In [48]:
SQB_PV['New_Purchase'] = SQB_new_pur
SQB_PV['New_Stock'] = SQB_new_stock

In [49]:
SQB_PV

,purchases(kg),sales(kg),Stock,Holding,Order_Cost(EGP),New_Purchase,New_Stock
Weeks,,,,,,,
1,18483,0,18483,5544.9,53527.0,80480.730287,80480.730287
3,26334,37375,7442,13445.1,76264.0,0.000000,43105.730287
5,28242,14381,21303,10705.2,81789.0,0.000000,28724.730287
6,305530,64725,262108,98049.9,884819.0,0.000000,-36000.269713
7,0,31872,230236,78632.4,0.0,80480.730287,48608.730287
8,0,37551,192685,69070.8,0.0,0.000000,11057.730287
9,0,13832,178853,57805.5,0.0,0.000000,-2774.269713
10,0,261,178592,53655.9,0.0,80480.730287,80219.730287
11,86924,84284,181232,79654.8,251733.0,0.000000,-4064.269713
13,0,13562,167670,54369.6,0.0,0.000000,-13562.000000
16,0,63703,103967,50301.0,0.0,0.000000,-63703.000000
17,64863,0,168830,50649.0,187844.0,80480.730287,80480.730287
18,6398,19287,155941,52568.4,18529.0,0.000000,61193.730287
20,0,28978,126963,46782.3,0.0,0.000000,32215.730287
21,0,1491,125472,38088.9,0.0,0.000000,30724.730287
22,0,4182,121290,37641.6,0.0,0.000000,26542.730287
23,1488,1521,121257,36833.4,4309.0,80480.730287,105502.460575
24,0,12340,108917,36377.1,0.0,0.000000,93162.460575
25,0,3169,105748,32675.1,0.0,0.000000,89993.460575
26,0,5097,100651,31724.4,0.0,0.000000,84896.460575
32,0,6855,93796,30195.3,0.0,0.000000,78041.460575
34,0,738,93058,28138.8,0.0,0.000000,77303.460575
35,10646,21038,82666,31111.2,30831.0,0.000000,56265.460575
37,0,28096,54570,24799.8,0.0,0.000000,28169.460575
38,31264,25264,60570,25750.2,90541.0,0.000000,2905.460575
39,26222,23129,63663,26037.6,75939.0,80480.730287,60257.190862
40,0,2742,60921,19098.9,0.0,0.000000,57515.190862
41,26354,39735,47540,26182.5,76322.0,0.000000,17780.190862
42,0,3522,44018,14262.0,0.0,80480.730287,94738.921149
45,0,22814,21204,13205.4,0.0,0.000000,71924.921149
46,11678,13056,19826,9864.6,33820.0,0.000000,58868.921149

### New Holding   and Shortage

In [35]:
Shortage = SQB_AVG_Price_sales-SQB_AVG_PRICE-Carry_cost-SQB_AVG_PRICE*Order_cost_percnt
Shortage

0.573369678252269

In [36]:
SQB_PV['NEW_HOLDING'] = 0

SQB_PV.iloc[0,7]=SQB_PV.iloc[0,5] * 0.3

for i in range(length-1):
    if(SQB_PV.iloc[i,6] > 0 and SQB_PV.iloc[i+1,6] > 0 ):
            SQB_PV.iloc[i+1,7] = (SQB_PV.iloc[i,6] + SQB_PV.iloc[i+1,5]) * Carry_cost
    
    elif(SQB_PV.iloc[i,6] <= 0 and SQB_PV.iloc[i+1,6] > 0 ):
             SQB_PV.iloc[i+1,7] = SQB_PV.iloc[i+1,5] * Carry_cost
    
    elif(SQB_PV.iloc[i,6] > 0 and SQB_PV.iloc[i+1,6] <= 0 ):
            SQB_PV.iloc[i+1,7] = ((SQB_PV.iloc[i,6] + SQB_PV.iloc[i+1,5]) * Carry_cost) + (SQB_PV.iloc[i+1,6]*(-Shortage))        
    
    elif(SQB_PV.iloc[i,6] < 0 and SQB_PV.iloc[i+1,6] <= 0 ):
            SQB_PV.iloc[i+1,7] = ((SQB_PV.iloc[i+1,5]) * Carry_cost)+(SQB_PV.iloc[i+1,6]*-Shortage)

In [37]:
SQB_PV

,purchases(kg),sales(kg),Stock,Holding,Order_Cost(EGP),New_Purchase,New_Stock,NEW_HOLDING,NEW_ORDER_COST
Weeks,,,,,,,,,
1,18483,0,18483,5544.9,53527.0,80480.730287,80480.730287,24144.219086,233073.0
3,26334,37375,7442,13445.1,76264.0,0.000000,43105.730287,24144.219086,0.0
5,28242,14381,21303,10705.2,81789.0,0.000000,28724.730287,12931.719086,0.0
6,305530,64725,262108,98049.9,884819.0,0.000000,-36000.269713,29258.882148,0.0
7,0,31872,230236,78632.4,0.0,80480.730287,48608.730287,24144.219086,233073.0
8,0,37551,192685,69070.8,0.0,0.000000,11057.730287,14582.619086,0.0
9,0,13832,178853,57805.5,0.0,0.000000,-2774.269713,4908.001219,0.0
10,0,261,178592,53655.9,0.0,80480.730287,80219.730287,24144.219086,233073.0
11,86924,84284,181232,79654.8,251733.0,0.000000,-4064.269713,26396.248104,0.0
13,0,13562,167670,54369.6,0.0,0.000000,-13562.000000,7776.039576,0.0
16,0,63703,103967,50301.0,0.0,0.000000,-63703.000000,36525.368614,0.0
17,64863,0,168830,50649.0,187844.0,80480.730287,80480.730287,24144.219086,233073.0
18,6398,19287,155941,52568.4,18529.0,0.000000,61193.730287,24144.219086,0.0
20,0,28978,126963,46782.3,0.0,0.000000,32215.730287,18358.119086,0.0
21,0,1491,125472,38088.9,0.0,0.000000,30724.730287,9664.719086,0.0
22,0,4182,121290,37641.6,0.0,0.000000,26542.730287,9217.419086,0.0
23,1488,1521,121257,36833.4,4309.0,80480.730287,105502.460575,32107.038172,233073.0
24,0,12340,108917,36377.1,0.0,0.000000,93162.460575,31650.738172,0.0
25,0,3169,105748,32675.1,0.0,0.000000,89993.460575,27948.738172,0.0
26,0,5097,100651,31724.4,0.0,0.000000,84896.460575,26998.038172,0.0
32,0,6855,93796,30195.3,0.0,0.000000,78041.460575,25468.938172,0.0
34,0,738,93058,28138.8,0.0,0.000000,77303.460575,23412.438172,0.0
35,10646,21038,82666,31111.2,30831.0,0.000000,56265.460575,23191.038172,0.0
37,0,28096,54570,24799.8,0.0,0.000000,28169.460575,16879.638172,0.0
38,31264,25264,60570,25750.2,90541.0,0.000000,2905.460575,8450.838172,0.0
39,26222,23129,63663,26037.6,75939.0,80480.730287,60257.190862,25015.857259,233073.0
40,0,2742,60921,19098.9,0.0,0.000000,57515.190862,18077.157259,0.0
41,26354,39735,47540,26182.5,76322.0,0.000000,17780.190862,17254.557259,0.0
42,0,3522,44018,14262.0,0.0,80480.730287,94738.921149,29478.276345,233073.0
45,0,22814,21204,13205.4,0.0,0.000000,71924.921149,28421.676345,0.0
46,11678,13056,19826,9864.6,33820.0,0.000000,58868.921149,21577.476345,0.0

### NEW Order_cost

In [38]:
SQB_PV['NEW_ORDER_COST'] = 0

SQB_PV.iloc[0:,8] = round((SQB_PV.iloc[0:,5]*SQB_AVG_PRICE*Order_cost_percnt))

In [39]:
SQB_PV

,purchases(kg),sales(kg),Stock,Holding,Order_Cost(EGP),New_Purchase,New_Stock,NEW_HOLDING,NEW_ORDER_COST
Weeks,,,,,,,,,
1,18483,0,18483,5544.9,53527.0,80480.730287,80480.730287,24144.219086,233073.0
3,26334,37375,7442,13445.1,76264.0,0.000000,43105.730287,24144.219086,0.0
5,28242,14381,21303,10705.2,81789.0,0.000000,28724.730287,12931.719086,0.0
6,305530,64725,262108,98049.9,884819.0,0.000000,-36000.269713,29258.882148,0.0
7,0,31872,230236,78632.4,0.0,80480.730287,48608.730287,24144.219086,233073.0
8,0,37551,192685,69070.8,0.0,0.000000,11057.730287,14582.619086,0.0
9,0,13832,178853,57805.5,0.0,0.000000,-2774.269713,4908.001219,0.0
10,0,261,178592,53655.9,0.0,80480.730287,80219.730287,24144.219086,233073.0
11,86924,84284,181232,79654.8,251733.0,0.000000,-4064.269713,26396.248104,0.0
13,0,13562,167670,54369.6,0.0,0.000000,-13562.000000,7776.039576,0.0
16,0,63703,103967,50301.0,0.0,0.000000,-63703.000000,36525.368614,0.0
17,64863,0,168830,50649.0,187844.0,80480.730287,80480.730287,24144.219086,233073.0
18,6398,19287,155941,52568.4,18529.0,0.000000,61193.730287,24144.219086,0.0
20,0,28978,126963,46782.3,0.0,0.000000,32215.730287,18358.119086,0.0
21,0,1491,125472,38088.9,0.0,0.000000,30724.730287,9664.719086,0.0
22,0,4182,121290,37641.6,0.0,0.000000,26542.730287,9217.419086,0.0
23,1488,1521,121257,36833.4,4309.0,80480.730287,105502.460575,32107.038172,233073.0
24,0,12340,108917,36377.1,0.0,0.000000,93162.460575,31650.738172,0.0
25,0,3169,105748,32675.1,0.0,0.000000,89993.460575,27948.738172,0.0
26,0,5097,100651,31724.4,0.0,0.000000,84896.460575,26998.038172,0.0
32,0,6855,93796,30195.3,0.0,0.000000,78041.460575,25468.938172,0.0
34,0,738,93058,28138.8,0.0,0.000000,77303.460575,23412.438172,0.0
35,10646,21038,82666,31111.2,30831.0,0.000000,56265.460575,23191.038172,0.0
37,0,28096,54570,24799.8,0.0,0.000000,28169.460575,16879.638172,0.0
38,31264,25264,60570,25750.2,90541.0,0.000000,2905.460575,8450.838172,0.0
39,26222,23129,63663,26037.6,75939.0,80480.730287,60257.190862,25015.857259,233073.0
40,0,2742,60921,19098.9,0.0,0.000000,57515.190862,18077.157259,0.0
41,26354,39735,47540,26182.5,76322.0,0.000000,17780.190862,17254.557259,0.0
42,0,3522,44018,14262.0,0.0,80480.730287,94738.921149,29478.276345,233073.0
45,0,22814,21204,13205.4,0.0,0.000000,71924.921149,28421.676345,0.0
46,11678,13056,19826,9864.6,33820.0,0.000000,58868.921149,21577.476345,0.0

In [40]:
Total_cost_before_eoq = SQB_PV["Holding"].sum() + SQB_PV["Order_Cost(EGP)"].sum()
Total_cost_before_eoq

3049488.5999999996

In [41]:
Total_cost_after_eoq = SQB_PV["NEW_HOLDING"].sum() + SQB_PV["NEW_ORDER_COST"].sum()
Total_cost_after_eoq

2301927.893971254

In [42]:
Saving =  Total_cost_before_eoq - Total_cost_after_eoq

In [43]:
Saving

747560.7060287455